<div class="issueTrackerMainPage">
	<div class="header">
		<div class="title" data-literal='{"scope":"main","name":"title"}' />
		<div class="subtitle" data-literal='{"scope":"main","name":"subtitle"}' />
		<div class="actions">
			<div class="createProject" data-literal='{"scope":"main","name":"lbl_createNewProject"}' />
		</div>
	</div>
	<div class="navigation">
		<ul class="navs">
			<li class="navitem selected home" data-literal='{"scope":"mainpage_nav","name":"lbl_navHome"}' />
		</ul>
	</div>
	<div class="projectListMainContainer" />
	<div class="trackerContext" />
</div>